@import url('https://fonts.googleapis.com/css?family=Pacifico');
body {
    max-width: 1200px;
    margin: auto;
    font-family: 'Pacifico', cursive;
    padding: 10px;
}

@media (min-width: 500px) {
    header>nav {
        display: flex;
    }
}

.header-logo {
    font-family: 'Notable', sans-serif;
    font-size: 2rem;
    margin: 0.5rem;
    text-align: center;
}

header {
    background-color: #e5ecff;
}

.header-nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media (min-width: 500px) {
    .header-nav {
        align-items: center;
        flex: 1;
    }
}

.header-nav a {
    color: black;
    text-decoration: none;
    padding: 0 1%;
}

@media (min-width: 500px) {
    .header-nav a:last-child {
        margin-left: auto;
    }
}

.header-nav a:hover {
    text-decoration: underline;
}

.banner {
    /*background-attachment: fixed;*/
    background-image: url('../img/balston-leather-sofa.jpg');
    min-height: 60vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}

/*@media (min-width: 500px) {*/

/*    .banner {*/

/*        min-height: 400px;*/

/*    }*/

.product-card {
    text-align: center;
    border-radius: 12px;
    border: 1px solid gray;
    margin: 5px;
    padding: 5px;
}

.product-card img {
    display: block;
    width: 100%;
}

.product-card .button-container {
    display: flex;
    justify-content: space-around;
}

.product-card .button-container button {
    min-width: 100px;
    color: black;
}

@media (min-width: 400px) {
    .product-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 500px) {
    .product-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 700px) {
    .product-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

.used-card {
    text-align: center;
    border-radius: 12px;
    border: 1px solid gray;
    margin: 5px;
    padding: 5px;
}

.used-card img {
    display: block;
    width: 100%;
}

.used-card .button-container {
    display: flex;
    justify-content: space-around;
}

.used-card .button-container button {
    min-width: 100px;
    color: black;
}

.information-list {
    padding: 10px;
}

.information-list p {
    justify-content: space-around;
    align-items: flex-end;
}

.information-list img {
    display: block;
    height: 65px;
    width: 65px;
}

.information-facebook {
    width: 300px;
}

@media (min-width: 400px) {
    .used-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 550px) {
    .used-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 700px) {
    .used-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

/*.container {*/

/*    position: absolute;*/

/*    top: 50%;*/

/*    left: 50%;*/

/*    margin-left: -65px;*/

/*    margin-top: -20px;*/

/*    width: 130px;*/

/*    height: 40px;*/

/*    text-align: center;*/

/*}*/

/*.button-send {*/

/*    outline: none;*/

/*    height: 40px;*/

/*    text-align: center;*/

/*    width: 101px;*/

/*    border-radius: 40px;*/

/*    background: #fff;*/

/*    border: 2px solid yellow;*/

/*    color: black;*/

/*    letter-spacing: 1px;*/

/*    text-shadow: 0;*/

/*    font: {*/

/*        size:12px;*/

/*        weight: bold;*/

/*    }*/

/*}*/

.clock {
    font-size: 4em;
    display: flex;
    justify-content: flex-end;
    color: #8738ff;
}


.button-up {
    position: fixed;
    bottom: 26px;
    right: 150px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #ccc;
    background: #ef6b07;
    z-index: 100;
    outline: 0;
}

.btn-up {
    position: fixed;
    bottom: 26px;
    right: 90px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #fbdede;
    background: #3600f9;
    z-index: 100;
    outline: 0;
}

.btn-up:after {
    content: '';
    width: 10px;
    height: 10px;
    border-top: 4px solid #ccc;
    border-left: 4px solid #ccc;
    transform: rotate(45deg);
    position: absolute;
    top: 4px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

@media (max-width:300px) {
    .btn-up {
        display: none;
    }
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #8e8e8e;

}

.name {
    margin: 5px;
}

.surname {
    margin: 5px;
}

.email {
    margin: 5px;
}

.tel {
    margin: 5px;
}

.feedback {
    margin: 10px;
}

.button-send  {
    margin: 10px;
}